<!-- menu navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href="/"><img src="/img/icon.png" height="25" width="30"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto col-sm-3 col-md-3 white">
			<li class="nav-item white">
				<a class="nav-link white" href="/upload">Upload</a>
			</li>
			<li class="nav-item white">
				<a class="nav-link white" href="/files">Files</a>
			</li>
		</ul>
	</div>
</nav>
<!-- end navbar -->
