<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>

    <body>
        <% include partials/navbar %>
        <% include partials/banner %>
        <header class="image-bg-fluid-height">
			<div class="container">
				<div class="header_overlay">
					<h1>Welcome!</h1>
					<p>I use this site to write about current projects and some vulns I find.</p>
					<p>
						<a class="btn btn-danger btn-md" href="/blog" role="button">Read >></a>
					</p>
				</div>
			</div>
		</header>
		<br>
        <div class="container-fluid theme-dark">
			<div class="row">
				<div class="col-lg-6 mb-2">
					<a href="#" class="white" style="color:#fff; text-decoration: none;">
						<div class="card">
							<div class="card-body">
								<h3><span class="fab fa-discord"></span> Discord</h3>
								<p>Join our Discord server and ask questions, talk, or meet others in our community!</p>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-lg-6 mb-2">
					<a href="#" class="white" style="color:#fff; text-decoration: none;">
						<div class="card">
							<div class="card-body">
								<h3><span class="fab fa-discord"></span> Discord</h3>
								<p>Join our Discord server and ask questions, talk, or meet others in our community!</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		
        <% include partials/footer %>
    </body>
</html>
